.contact-list {
}

.mar-contact-user {
    margin: calc(6px + 2vmin);
}
.contact-user {
    color: #c8c8c8;
    width: 100vw;
    max-width: 500px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    margin-left: inherit;
    padding-top: 1rem;
}



.contact-img {
    background-image: linear-gradient(to left bottom,#ebb811 ,#ffa52f, #f68e06 , rgba(200,0,0,0.7));
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.contact-name {
    width: 40%;
    padding-left: 1rem;
}
@media (min-width: 478px) {
    .contact-name{
       padding-top: 0.3rem; 
    }
}

.contact-phone {
    margin: auto;    
}
.contact-mail {
    /* overflow: hidden; */
    word-break: break-word;
    font-size: 0.9rem
}

.add-user-pos {
    position: fixed;
    top: 90vh;
    left: 84vw;
}

@media (min-width: 478px){
    .add-user-pos{
        left:86vw;
    }
}

.add-user {
    font-size: 2rem;
    width: calc(30px + 4vmin);
    height: calc(30px + 4vmin);
    border-radius: 40px;
}

@media (max-width: 375px) {
    .contact-mail {
        font-size: 0.8rem
    }
    .contact-phone{
        /* display: none; */
        font-size: 0.8rem;
    }

}