.contact-center {
    margin: 20px auto;
}

.mar-contact-user {
    margin: calc(6px + 2vmin);
}
.contact-user {
    cursor: pointer;
    color: #c8c8c8;
     
    width: 100vw;

    max-width: 500px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    margin-left: inherit;
    padding-top: 1rem;

    animation: slide-up 0.7s ease;
    transition: all 0.35s;

}

.contact-img {
    /* background-image: linear-gradient(to left bottom, #f68e06 , #99460f); */
    background-image: linear-gradient(to left bottom,#ebb811 ,#ffa52f, #f68e06 , rgba(200,0,0,0.7));
    font-size: 1rem;
    width: 40px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-radius: 100px;

}

.contact-name {
    width: 40%;
    margin-left: 1rem;
}

.contact-phone {
    margin: auto;
    margin-left: inherit;
    
}
.contact-mail {
    overflow: hidden;
    word-break: break-word;
    font-size: 0.9rem
}

.add-user-pos {
    position: fixed;
    top: 92vh;
    left: 85vw;
}

.add-user {
    font-size: 2rem;
    width: calc(30px + 4vmin);
    height: calc(30px + 4vmin);
    border-radius: 40px;

    cursor: pointer;
    color: white;
}

@media (max-width: 375px) {
    .contact-mail {
        font-size: 0.8rem
    }
    .contact-phone{
        /* display: none; */
        font-size: 0.8rem;
    }

}