.contact-center {
    margin: 20px auto;
}

.mar-contact-user {
    margin: calc(6px + 2vmin);
}
.contact-user {
    cursor: pointer;
    color: #c8c8c8;
     
    justify-content: space-around;
    width: 100vw;
    height: 8vh;
    max-width: 500px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.149725);
    margin-left: inherit;

    animation: slide-up 0.8s ease;
    transition: all 0.35s;

}

.contact-img {
    background-image: linear-gradient(to left bottom, #f68e06 , #99460f);
    font-size: 1rem;
    width: 40px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-radius: 100px;

}

.contact-name, .contact-phone {
    margin: auto;
    margin-left: inherit;
}
.contact-mail {
    overflow: hidden;
    word-break: break-word;
    font-size: calc(10px+0.5vmin)
}

.add-user-pos {
    position: fixed;
    top: 92vh;
    left: 85vw;
}

.add-user {
    font-size: 2rem;
    width: calc(30px + 4vmin);
    height: calc(30px + 4vmin);
    border-radius: 40px;

    background-color: rgba(220,20,60,0.9);
    /* background-color: #f68e06; */
    cursor: pointer;
    color: white;
}

@media (max-width: 508px) {

    .contact-phone{
        display: none;
    }

}