header h1{
    font-size: 1.65rem;
}
header h3{
    color:#535353;
}

.logo-container{
    padding-top: 10px;
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}