/* =============== */
/* LAYOUT */

.flex{
    display:flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-warp {
    flex-flow: wrap;
} 
.flex-nowarp {
    flex-flow: nowrap;
} 


.align-center {
align-items: center;
    
}
.justify-center {
    justify-content: center;

}
.justify-evenly {

    justify-content: space-evenly;
}


.inline {
    display: inline-block;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.width-80 {
    width: 80%;
}
/* =================== */
 /* SMALL UTILS */
 /* ==================== */
/* Pointer */
.pointer {
    cursor: pointer;
}

/* HOVER */

.hover-white:hover {
    color: #fff;
}
.hover-black:hover {
    color: #000;
}


