@import 'reset.css';
@import 'layout.css';
@import 'utills.css';
@import 'margins.css';
@import 'paddings.css';
@import 'texts.css';
@import 'forms.css';
@import 'buttons.css';
@import 'colors.css';
@import 'animations.css';
/* @import 'contact-page.css'; */

body {
    background-color: #252525;
    color:whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    min-height: 100vh
}
img {
  width: 100%;
}

  a
  {
    text-decoration: none;  
    transition: color 0.3s ease;
  }
  
  a:hover
  {
    color: #ebb811;
  }
  




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 0.5vmin);
  color: white;
}


