.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: .25;
}
.dot {
    position: absolute;
    left: 90%;
    top: 6%;

    animation: blink 2s infinite;
}

.offline {
    background-color: red;
}
.online {
    background-color: green;
}