/* ========================== */
/* TEXT */
 /* ==================== */

 .text-start{
    text-align: start;
}
.text-end{
    text-align: end;
}
.text-center{
    text-align: center;
}

.text-white {
    color: white !important;
}
.text-grey {
    color: grey !important;
}
.text-black {
    color: black !important;
}

.bcg-white {
    background-color: white !important;
}
.bcg-grey {
    background-color: grey !important;
}
.bcg-black {
    background-color: black !important;
}


.is-1 {
    font-size: 3.5rem;
}
.is-2 {
    font-size: 2.5rem;
}
.is-3 {
    font-size: 2rem;
}
.is-4 {
    font-size: 1.8rem;
}
.is-medium {
    font-size: 1.25rem;
}
.is-small {
    font-size: 0.7rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.subtitle, .title {
    word-break: break-word;
}


