/* =================== */
 /* SMALL UTILS */
 /* ==================== */
 
/* Pointer */
.pointer {
    cursor: pointer;
}

/* HOVER */

.hover-white:hover {
    color: #fff;
}
.hover-black:hover {
    color: #000;
}