
.header-container{
    height: 12vh;
}

@media (max-width:780px) {
.header-container{   
    top: 3rem;
    position: relative;
    display: block;
    text-align: center;
    height: 22vh;
 }
}

/* .logo-img{
    width: 100%
} */