/* =============== */
/* LAYOUT */

.flex {
    display:flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-warp {
    flex-flow: wrap;
} 
.flex-nowarp {
    flex-flow: nowrap;
} 

.align-start {
    align-items: flex-start;
}

.align-center, .center {
    align-items: center;
}
.justify-center, .center {
    justify-content: center;
}
.justify-evenly, .space-evenly {
    justify-content: space-evenly;
}
.justify-between, .space-between {
    justify-content: space-between;
}


.inline {
    display: inline-block;
}

/* CONTAINERS */
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}


.mar-center {
    margin: 0 auto;
}



