/* =============== */
/* LAYOUT */

.flex{
    display:flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-warp {
    flex-flow: wrap;
} 
.flex-nowarp {
    flex-flow: nowrap;
} 


.align-center {
align-items: center;
    
}
.justify-center {
    justify-content: center;

}
.justify-evenly {

    justify-content: space-evenly;
}


.inline {
    display: inline-block;
}

/* CONTAINERS */
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

/* WIDTH */
.width-80 {
    width: 80%;
}
.width-50, .witdh-half {
    width: 50%;
}

.width-33, .width-third {
    width: 33%;
}
.width-25, .witdh-quarter {
    width: 25%;
}
.width-20,.width-fifth {
    width: 120%;
}
.width-10 {
    width: 10%;
}

.width-50vmin {
    width:50vmin;
}
.width-33vmin {
    width:33vmin;
}
.width-25vmin {
    width:25vmin;
}
.width-20vmin {
    width:20vmin;
}
.width-10vmin {
    width:10vmin;
}


