/* ====================== */
/* PADDING */
 /* ==================== */

 .pad-halfrem, .pad-0p5-rem {
    padding: 0.5rem;
}
.pad-1rem {
    padding: 1rem;
}

.pad-1halfrem, .pad-1p5rem {
    padding: 1.5rem;
}

.pad-2rem {
    padding: 2rem;
}
.pad-3rem {
    padding: 3rem;
}




/* /left/ */
.pad-left-halfrem, .pad-left-0p5rem {
    padding-left: 0.5rem;
}
.pad-left-1rem {
    padding-left: 1rem;
}
.pad-left-2rem {
    padding-left: 2rem;
}
.pad-left-3rem {
    padding-left: 3rem;
}
.pad-left-4rem {
    padding-left: 4rem;
}
.pad-left-5rem {
    padding-left: 5rem;
}



/* /right/ */
.pad-right-halfrem, .pad-right-0p5rem {
    padding-right: 0.5rem;
}
.pad-right-1rem {
    padding-right: 1rem;
}
.pad-right-2rem {
    padding-right: 2rem;
}
.pad-right-3rem {
    padding-right: 3rem;
}
.pad-right-4rem {
    padding-right: 4rem;
}
.pad-left-5rem {
    padding-left: 5rem;
}


/* /top/ */
.pad-top-halfrem, .pad-top-0p5rem {
    padding-top: 0.5rem;
}
.pad-top-1rem {
    padding-top: 1rem;
}
.pad-top-2rem {
    padding-top: 2rem;
}
.pad-top-3rem {
    padding-top: 3rem;
}
.pad-top-4rem {
    padding-top: 4rem;
}
.pad-top-5rem {
    padding-top: 5rem;
}