/* ========================== */
/* TEXT SIZES AND DIRECTION */
 /* ==================== */

.uppercased {
    text-transform: uppercase;
}

.lowercased {
    text-transform: lowercase;
}
  
.capitalized {
    text-transform: capitalize;
}

.text-start{
    text-align: start;
}
.text-end{
    text-align: end;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}


.size-1 {
    font-size: 3.5rem !important;
}
.size-2 {
    font-size: 2.5rem !important;
}
.size-3 {
    font-size: 2rem !important;
}
.size-4 {
    font-size: 1.8rem !important;
}
.size-5 {
    font-size: 1.6rem !important;
}
.size-6 {
    font-size: 1.35rem !important;
}

.size-medium {
    font-size: 1.25rem !important;
}
.size-small {
    font-size: 0.7rem !important;
}

.title {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.subtitle, .title {
    word-break: break-word;
}

.bold, .bold-700 {
    font-weight: 700;
}
.bold-light, .bold-600 {
    font-weight: 600;
}
