/* =================== */
 /* SMALL UTILS */
 /* ==================== */
 
/* Pointer */
.pointer {
    cursor: pointer;
}

/* HOVER */

.hover-white:hover {
    color: #fff !important;
}
.hover-black:hover {
    color: #000 !important;
}

/* BORDER */

.border-half-white-2px {
	border: 1px solid rgba(255, 255, 255, 0.5);
 } 
 .border-white-2px {
 	border: 2px solid #FFF;
 }

 /* WIDTH */

.width-full {
	width: 100%;
}

.width-medium {
	width: 10rem;
}

.width-small {
	width: 5rem;
}
