 /* PRECENT AND REM AND USFUL */

 .width-full {
	width: 100% !important;
}

.width-medium {
	width: 10rem !important;
}

.width-small {
	width: 5rem !important;
}
.width-inherit{
    width: inherit !important;
}
.width-auto{
    width: auto !important;
}




/* VMIN */

.width-50vmin {
    width:50vmin;
}
.width-33vmin {
    width:33vmin;
}
.width-25vmin {
    width:25vmin;
}
.width-20vmin {
    width:20vmin;
}
.width-13vmin {
    width:13vmin;
}
.width-10vmin {
    width:10vmin;
}


/*  MORE WIDTH OPTIONS */
.width-90 {
    width: 90%;
}
.width-80 {
    width: 80%;
}
.width-50, .width-half {
    width: 50%;
}

.width-33, .width-third {
    width: 33%;
}
.width-25, .witdh-quarter {
    width: 25%;
}
.width-20,.width-fifth {
    width: 20%;
}
.width-10 {
    width: 10%;
}

/*  MORE WIDTH OPTIONS */
.width-90 {
    max-width: 90vw;
}
.max-width-80 {
    max-width: 80vw;
}
.max-width-50, .max-width-half {
    max-width: 50vw;
}

.max-width-33, .max-width-third {
    max-width: 33vw;
}
.max-width-25, .witdh-quarter {
    max-width: 25vw;
}
.max-width-20,.max-width-fifth {
    max-width: 20vw;
}
.max-width-10 {
    max-width: 10vw;
}